.news-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.news-item {
  display: grid;
  grid-template-columns: 500px auto;

  background:#F178B6;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
  overflow: hidden;

  .text-wrapper {
    padding: 15px;
  }

  h2 {    
    font-size: 24px;
    color: white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);   
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  p {
    letter-spacing: -0.02em;
    font-size: 22px;
  }
}

.media-wrapper {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}