<header>
  <div class="header-wrapper">
    <nav class="menu">
      <ul class="nav-list">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="/">Главная</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/catalog">Каталог</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/about">О компании</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/delivery">Доставка</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/news">Новости</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/contacts">Контакты</a>
        </li>
      </ul>
    </nav>
    
    <ng-container *ngIf="isAuth; else noUser">
      <div class="profile-block">   
        <span class="login">{{username}}</span>   
        <a routerLink="/cart" class="cart-icon">
          <i nz-icon nzType="shopping-cart" nzTheme="outline"></i>
        </a>
        <a class="logout-icon" (click)="logout()">
          <i nz-icon nzType="export" nzTheme="outline"></i>
        </a>
      </div> 
    </ng-container>
           
    <ng-template #noUser>
      <a class="login" routerLink="/auth">Войти</a>
    </ng-template>
  </div> 
</header>

