header {
  margin: auto;
  margin-top: 60px;
  width: 90%;
  background: #963E6B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
  border-radius: 10px;

  .header-wrapper {
    max-width: 1440px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin: auto;
  }
}

.nav-list {
  display: flex;
  list-style: none;

  li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;

    font-size: 22px;
    font-weight: bold;
    margin-right: 20px;
    text-transform: uppercase;
  }  

  li.active a {
    background: white;    
    border-radius: 5px;
    color:#963E6B;
  }
}

.profile-block {
  display: flex;
  align-items: center;
  column-gap: 20px;

  img {
    width: 40px;
  } 

  .cart-icon i {
    color: white;
    font-size: 37px;
  }

  .logout-icon i {
    color: white;
    font-size: 32px;
  }
}

a.login {
  text-decoration: underline;
}

.login {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
