<div class="content">
  <section class="section first">
    <h1>Контакты</h1>

    <h2>г. Красноярск</h2>

    <div class="text-block">      
      <p>
        <b>Адрес:</b><br>660037, Россия, г. Красноярск, ул. Коммунальная, д.2а, офис 201<br>    
      </p>
      <hr>
      <p>
        <b>Телефон:</b><br>+7 (391) 238-05-55<br>+7 (960) 777-07-30<br>
      </p>
      <hr>
      <p>
        <b>Email:</b><br>office@candy-world.com<br>sales@candy-world.com
      </p>
    </div>
    
    
  </section>
</div>
