@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Oxygen:wght@300&display=swap');

html {  
  scroll-behavior: smooth;
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;  
  background:#F178B6;
  font-family: 'Lora', serif;
}

.container {  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.page-content {
  height: 100%;
  width: 1440px;
  margin: 0 auto;
}