<div class="content">
  <section class="section first">
    <h1>Доставка</h1>

    <div class="text-block">      
      <p>
        Магазин <b>«CANDY WORLD»</b> принимает заказы на единоразовые и регулярные оптовые/мелкооптовые поставки. 
      </p> 
      <p>
        Доставляем продукцию в любой город России: <br>
        - автомобильным транспортом,<br>
        - железнодорожным транспортом.
      </p>
      <hr>      
      <p>
        Популярные направления: Брянск, Владимир, Воронеж, Иваново, Москва, Рязань, Смоленск, 
        Калининград, Санкт-Петербург, Великий Новгород, Уфа, Ижевск, Екатеринбург, Челябинск, 
        Иркутск, Кемерово, Красноярск, Новосибирск, Омск, Владивосток, Хабаровск, Ростов, Краснодар, Симферополь, Сочи.
      </p>
      <hr>
      <p>
        Доставка осуществляется транспортными компаниями или курьерскими службами:<br>
        - транспортные компании – <b>«Энергия»</b>, <b>СДЭК</b>, <b>ПЭК</b> и др.<br>
        - курьерские службы – <b>Почта России</b>, <b>Boxberry</b>, <b>PickPoint</b> и др.<br>        
      </p>
      <hr>
      <p>
        Доставка оплачивается отдельно. Примерную стоимость и сроки можно предварительно 
        рассчитать на сайте выбранной ТК или курьерской службы. Ваш заказ будет доставлен 
        до терминала транспортной компании или ближайшего пункта выдачи.
      </p>
    </div>
    
  </section>
</div>
