<div class="content">
  <section class="section first">
    <h1>О компании</h1>

    <div class="text-block">
      <p>
        Добро пожаловать! Candy World — интернет-магазин сладостей со всего мира, в том числе тех,
        которые не представлены на российском рынке. Мы работаем с 2019-го года и с тех пор отправили более
        20 000 заказов в сотни населенных пунктов во всех регионах России.        
      </p>
      <hr>
      <ul>
        <li>Полностью сопровождаем Ваш заказ до момента получения.</li>
        <li>
          Надежно упаковываем товар в пупырчатую пленку/защитные сетки/бумажные 
          пакеты, поэтому сладости приходят в целости и сохранности даже в самые отдаленные регионы России.
        </li>
        <li>
          Только свежие сладости. Будьте уверены, ваши сладости будут иметь срок годности, 
          до истечения которого остается от нескольких месяцев и более.
        </li>
        <li>
          Консультируем по всем деталям заказа и помогаем определиться с выбором не только товаров, 
          но и доставки, даже в самых сложных ситуациях.
        </li>
        <li>
          Доставим сладости самыми надежными и быстрыми способами по всей России.
        </li>
        <li>
          Бесплатная доставка при заказе от 4000₽ (при выборе доставки ТК СДЭК в пункт самовывоза).
        </li>
      </ul>
      <hr>
      <p>
        Подпишись на наш профиль Instagram <a href="">@candy_world</a> и получи подарок!
      </p>
    </div>    
    
  </section>
</div>
