<div class="content">
  <section class="main-title">
    <img src="assets/img/main_title.png" alt="">
    <a href="#welcome" class="detailed-link">
      <span>Подробнее</span>
      <img src="assets/img/icons/arrow-down.png" alt="">
    </a>
  </section>
  
  <img src="assets/img/candies1.png" alt="" class="back-img img1">
  <img src="assets/img/candies2.png" alt="" class="back-img img2">
  <img src="assets/img/candies1.png" alt="" class="back-img img3">
  <img src="assets/img/candies3.png" alt="" class="back-img img4">

  <section class="welcome-text section" id="welcome">
    <h1>Добро пожаловать на один из самых ярких и вкусных сайтов!</h1>
    <p>Если вы большой фанат сладкого или просто любите что-то новое – 
      вы точно зашли по адресу! <br> Здесь вы найдете сладости на любой вкус.</p>
    <p>Кислые или сладкие лакомства, леденцы на палочке или мягкие леденцы, 
      монпасье, всеми любимые конфетки-сосачки, пастилки, жгучие перечные конфеты, 
      лакричные и соленые, в виде шариков, палочек, колечек, плиток и таблеток, 
      и даже взрывающиеся на языке драже! Мы собрали более сотни видов необычных сладостей со всего мира. 
      Они вскружат вам голову своими формами, цветами и вкусами.</p>
  </section>

  <section class="section gallery">
    <h1>Галерея</h1>
    <div class="slider">
      <app-gallery-slider></app-gallery-slider>  
    </div>      
  </section>
  

  <section class="countries section">
    <h1>Страны производители</h1>
    <img src="assets/img/countries.png" alt="" class="">
  </section>
</div>