.section {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #EF5DA8;
  padding: 30px;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);

  h1 {
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

    font-size: 36px;
    text-transform: uppercase;
  }
}